body {
    background-color: white;
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
.nav-link{
    font-weight: bold;
}
/*when you hover the tabs change to itlics background-color changes*/

.nav-link:hover{
    font-style: italic;
    background-color: #7fffd4!important;
} 
header {
    text-align: center;
    height: 500px;
    width:  cover px;
    background-image: url("apple.html");
    /*background-size:cover;*/
   /*text align*/
}


.services i {
    font-size:  30px ;
    padding: 25px 20px;
    background-color: Green;
    
    width: 80px;
    height: 80px;
    
    Border-radius: 50%;
}

.services span {
    width: 200px;
    display: inline-block;
}