body {
    background-color: Green;
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
.nav-link{
    font-weight: bold;
}
/*when you hover the tabs change to itlics background-color changes*/

.nav-link:hover{
    font-style: italic;
    background-color: #7fffd4!important;
} 
header {
    text-align: center;
    height: 600px;
    width:  400px;
    background-image: url()image)
    background size: cover;
   /*text align*/
}